.backgroundImage {
    background: linear-gradient(rgba(168, 168, 168, 0.993));
}

.jumbotron {
    background-image: url('https://d1pk12b7bb81je.cloudfront.net/generated/1920x910/images/photos/slideshows/1481845520_1481845515-okcbycooperrossslideshow.jpg');
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat; 
    color: white;
    border-radius: 0;
}

.jumbotron Button {
    background-color: rgba(24, 78, 255, 0.75);
    margin-top: 12px
}


.jumbotron p {
    background-color: rgba(34, 82, 145, 0.5);
    font-weight: bolder;
    border-radius: 1em;
    padding: 1em;
}

 .jumbotron h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-weight: bold;
} 

.logo {
    text-align: right;
}

.content {
    background: linear-gradient( rgba(255, 255, 255, 0.39));
}

.languages {
    margin-left: 3.5em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
} 
